@charset "UTF-8";

body{ background-color: rgb(84, 245, 167);
font-family: Arial, Helvetica, sans-serif;
}

h1{ color: rgb(20, 136, 0);

}

h1#principal {
    text-align: center;
    background-color: white;

}

h2{
    color: rgb(0, 106, 53)
}

.basico{
    color: rgb(0, 255, 0);
    font-weight: bolder;
}

.intermediario{
    color: rgb(255, 255, 101);
}

.avancado{
    color: rgb(255, 42, 42);
}